.header {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: var(--gap);
    padding-bottom: var(--gap);
    gap: var(--gap);
  }

  .menu {
    margin-left: auto;
  }

  @media (max-width: 767px) {
    .menu,
    .social-list {
      display: none;
    }
  }
}
