.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 10;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: var(--gap);
    padding-bottom: var(--gap);
    gap: var(--gap);
  }

  .menu {
    margin-left: auto;
  }

  @media (max-width: 767px) {
    .menu,
    .social-list {
      display: none;
    }
  }
}
