.menu {
  &__list {
    display: flex;
    align-items: center;
    gap: var(--gap);
  }

  &__link {
    font-size: 24px;
    line-height: 130%;
    color: var(--primary-black);
    text-decoration: none;

    &:hover {
      color: var(--primary-blue);
    }
  }
}
